gm-scrollbar-bg()
  opacity 1
  background-image -ms-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%)
  background-image -moz-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%)
  background-image -o-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%)
  background-image -webkit-gradient(linear, left top, right top, color-stop(0, #E5E5E5), color-stop(1, #F9F9F9))
  background-image -webkit-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%)
  background-image linear-gradient(to right, #E5E5E5 0%, #F9F9F9 100%)


.gm-scrollbar-container
  padding 45px 70px 0 48px
  position relative
  box-sizing border-box
  height 580px
  overflow normal !important

.gm-scrollbar-bg
	gm-scrollbar-bg()
	position absolute
	width 48px
	height auto
	left auto
	top 0
	right 0
	bottom 0


/* vertical scrollbar track */
.gm-scrollbar.-vertical
	width 48px
	height auto
	left auto
	top 0
	right 0
	margin 48px 0
	bottom 0

.gm-scrollbar.-horizontal
	display none

.gm-scroll-view
	height 559px !important

.gm-arrow
	width 48px
	height 48px
	opacity .5
	display block
	position absolute
	right 0

.gm-arrow-top
	top 0
	background url(../../images/scroll_up.png) center center no-repeat

.gm-arrow-bottom
	bottom 0
	background url(../../images/scroll_down.png) center center no-repeat

/* scrollbar thumb */
.gm-scrollbar .thumb
	cursor pointer
	width 100%
	height 90px
	z-index 1
	background url(../../images/scroll_poiner.png) center center no-repeat !important
	background-color #ccddc6 !important

.gm-scrollbar .thumb:hover
	background-color fuchsia

.gm-scrollbar.-wrapper
	width:48px
	left:-1px
	top:48px
	height calc(100% - 96px)
