@import '../styles/theme.styl'
@import "~lost-grid/stylus/lost.styl"
@import '../assets/animations.css'

html
body
  width 100%
  height 100%

body
  background #333
  font-family 'HeliosCondC', Helvetica, sans-serif
  height 1920px
  margin 0 auto
  min-height 100%
  padding 0
  position relative
  width 1080px

*
  margin 0
  padding 0
  border 0

.app
  position relative

.block
  display block !important
  opacity 1 !important
  visibility true

.none
  display none

.absolute
  position absolute

.relative
  position relative
