@font-face
	font-family HeliosCondC
	font-style normal
	src url(/fonts/HeliosCondC.ttf), url(/fonts/HeliosCondC.svg)
@font-face
	font-family HeliosCondC-Bold
	font-style normal
	src url(/fonts/HeliosCondC-Bold.ttf), url(/fonts/HeliosCondC-Bold.svg)
@font-face
	font-family HeliosCondLightC
	font-style normal
	src url(/fonts/HeliosCondLightC.ttf), url(/fonts/HeliosCondLightC.svg)
