@import "~lost-grid/stylus/lost.styl"

.quickSearch
  height 100%
  position absolute
  top 0
  left 0
  width inherit
  height inherit
  text-align center

  .quickSearch__figure
    & input
      width 100%

    .typeahead-selector .hover
      background-color green
