@import "~lost-grid/stylus/lost.styl"
@import "~gemini-scrollbar/gemini-scrollbar.css"

.geoObject
  &__header
    position absolute
    top 240px
    left 48px
    color #fff
    font-family 'HeliosCondC-Bold'
    font-size 38px
    z-index 20100
    letter-spacing -1px

    &:after
      content ''
      clearfix()

    & [class*="__address"]
      display block
      font-size 24px
      font-family 'HeliosCondLightC'
      text-align left
      letter-spacing normal

  &__wrapper
    width 672px
    height 1329px
    position absolute
    top 360px
    left 48px
    z-index 600
    background-color #f9f9f9
    font-size 16px
    color #333333
    box-shadow 0 0 178px -20px #000
    overflow hidden
    padding-bottom:25px;

  & [class*="__close"]
    position absolute
    top 505px
    right 0
    z-index 500
    width 48px
    height 48px
    background url(../../images/cross.png) no-repeat
    cursor pointer

  &__slider
    height 504px
    position relative
    font-family 'HeliosCondLightC'

    & [class*="__nav"]
      position absolute
      bottom 0
      left 0
      width 100%
      height 80px
      z-index 100
      box-shadow 0 -20px 50px -10px #000 inset

      &:before
        content: ' ';
        -webkit-filter: blur(10px);
        background-color: rgba(113, 113, 113, 0.89);
        width: 100%;
        height: inherit;
        position: absolute;
        background: linear-gradient(135deg, rgb(119, 119, 119), rgba(110, 110, 110, 0.7));

      &:after
        display: block;
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        opacity: .3;
        z-index: 0;

      & > a
        display block
        width 145px
        height 80px
        margin 0
        position relative
        float left
        overflow hidden
        text-indent -1000px
        z-index 10


        &[class*="__video"]:before
          display block
          content " "
          position absolute
          width 100%
          height 100%
          top 0
          left 0
          background url(../../images/ico_video.png) center -76px no-repeat
          z-index 10

        &[class*="__photo"]:before
          display block
          content " "
          position absolute
          width 100%
          height 100%
          top 0
          left 0
          background url(../../images/ico_photo.png) center -71px no-repeat
          z-index 10

        &.geoObject__photo.geoObject__item--active:before
          background: url(../../images/ico_photo.png) center 20px no-repeat;

        &.geoObject__video.geoObject__item--active:before
          background: url(../../images/ico_video.png) center 15px no-repeat;

        &.geoObject__item--active:after
          background-color: #ffffff;

        &:after
          display block
          content " "
          position absolute
          width 100%
          height 100%
          top 0
          left 0
          background-color #27720c
          opacity .6

  &__info
    width 100%
    display table
    font-size14px
    font-family 'HeliosCondLightC'

    & [class*="__dest"]
      display table-cell
      vertical-align top
      width 40%
      font-size inherit
      padding 40px 30px 40px 48px

    & [class*="__time"]
      display table-cell
      vertical-align top
      font-size inherit
      padding 40px 48px 40px 40px

    & [class*="__h"]
      font-size 24px
      font-family 'HeliosCondC-Bold'
      display block
      margin 0 0 6px 0

  &__routes
    background-color #ffd200
    box-shadow 0 50px 100px -70px #000 inset
    height 80px
    line-height 80px
    font-size 24px
    padding 0 48px
    font-family 'HeliosCondLightC'
    z-index 5000

    & [class*="__route"]
    & [class*="__routeDesc"]
      display inline-block
      margin 0 20px 0 0

    & [class*="__route"]
      display inline-block
      margin 0 20px 0 0

      & a
      & a:link
      & a:visited
      & a:hover
      & a:active
        color #000 !important
        border-color: #000 !important

    & [class*="__routeDesc"]
      margin 0 55px 0 0

    & [class*="__car"]
      padding 0 0 0 37px
      background url(../../images/ico_car.png) left center no-repeat
      text-decoration underline
      cursor pointer

    & [class*="__walk"]
      padding 0 0 0 25px
      background url(../../images/ico_walk.png) left center no-repeat
      text-decoration underline
      cursor pointer

    & [class*="__bus"]
      padding 0 0 0 33px
      margin 0 0 0 0
      background url(../../images/ico_bus.png) left center no-repeat
      text-decoration underline
      cursor pointer

  .gm-scrollbar-container
    padding: 15px 70px 0 48px;
    position: relative;
    box-sizing: border-box;
    height: 610px;

  &__content
    width 554px
    height auto
    overflow hidden

  /* vertical scrollbar track */
  .gm-scrollbar.-vertical
    position: absolute;
    width: 48px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;

  .gm-scrollbar.-horizontal
    display none

  /* scrollbar thumb */
  .gm-scrollbar .thumb
    cursor: pointer;
    width: 100%;
    height: 90px;
    z-index: 1;
    background: url(../../images/scroll_poiner.png) center center no-repeat !important;
    background-color: #ccddc6 !important;

  .gm-scrollbar .thumb:hover
    background-color: fuchsia;

  .gm-scrollbar.-wrapper
    width:48px
    left:-1px
    top:48px;
    height: calc(100% - 96px);
    opacity: 1;
    background-image: -ms-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%);
    background-image: -moz-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%);
    background-image: -o-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E5E5E5), color-stop(1, #F9F9F9));
    background-image: -webkit-linear-gradient(left, #E5E5E5 0%, #F9F9F9 100%);
    background-image: linear-gradient(to right, #E5E5E5 0%, #F9F9F9 100%);

  .gm-scrollbar.-vertical .arrow-top
    background: url(../../images/scroll_up.png) center center no-repeat !important;
    width: 48px !important;
    height: 48px !important;
    background-color: transparent !important;
    opacity: .5 !important;
    display:block;
    left:-1px

  .gm-scrollbar.-vertical .arrow-bottom
    left:-1px
    background: url(../../images/scroll_down.png) center center no-repeat !important;
    width: 48px !important;
    height: 48px !important;
    background-color: transparent !important;
    opacity: .5 !important;
    display:block;
    position:absolute;
    bottom 0

  &__pager
    text-align: right;
    font-size: 24px;
    letter-spacing: -1px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 290px;
    height: 80px;
    width: auto;
    padding: 0 32px 0;
    line-height: 80px;
    z-index: 1000;
