.header
  background-color #fff
  box-shadow 0 60px 228px -60px #000
  height 200px
  position relative
  z-index 10000

  &__row
    background-color #1e7300
    color #fff
    font-size 66px
    height 120px
    line-height 120px
    overflow hidden
    padding 0 24px

  &__clock
    float right

  &__weather
    float left

  &__title
    color #000
    height 80px
    line-height 80px
    margin 0
    padding 0 24px
