.keyboard
	list-style none
	margin 0
	padding 0
	text-align center

	&__button
		background #fff
		border 0
		cursor pointer
		display inline-block
		font-size 30px
		height 80px
		line-height 80px
		margin 0 5px 5px 0
		position relative
		text-align center
		width 62px
		z-index 0

		&--firstLine
			margin-bottom 20px

		&:hover
			border-color #e5e5e5
			left 1px
			position relative
			top 1px

	&__backspace
	&__enter
	&__esc
		width 130px

	&__esc
		background-color red
		color #fff

	&__space
		width 681px
