@import "~lost-grid/stylus/lost.styl"

.map
  column('2/3')

  &.inactive
    .map__area
      filter blur(3px)
      -webkit-filter blur(3px)

  .map__area
    // width 1080px
    height 1920px
    width 880px
    margin 0 auto
